/.idea/
target
Cargo.lock
/examples/sum-all-hdus
/examples/mwalib-print-context
/examples/mwalib-sum-all-hdus
/examples/mwalib-print-volt-context
/examples/mwalib-sum-vcs
.vscode
/coverage
/tools/release
include/
/tools/comparison_tools/*.csv
/tools/comparison_tools/.python-version
/test_files/1101503312_1_timestep/*.sub
/test_files/1101503312_1_timestep/*.dat
ccov.zip
/test_files/1101503312_mwax_vcs/*.sub
/test_files/1101503312_vcs/*.dat
/test_files/1370755832_mwax_vcs_os/*.sub
/test_files/1380365160/*.sub
.coverage
.python-version
__pycache__
/tmp
/examples/*.o
/examples/*.dbg
/dist
