[package]
name = "mwalib"
version = "1.0.0"
homepage = "https://github.com/MWATelescope/mwalib"
repository = "https://github.com/MWATelescope/mwalib"
readme = "README.md"
authors = ["Greg Sleap <greg.sleap@curtin.edu.au>",
           "Christopher H. Jordan <christopherjordan87@gmail.com>"]
edition = "2021"
rust-version = "1.64"
description = "A library to simplify reading Murchison Widefield Array (MWA) raw visibilities, voltages and metadata."
license = "MPL-2.0"
keywords = ["radioastronomy", "mwa", "astronomy"]
categories = ["science","parsing"]
exclude = ["test_files/*", "tools/*",".github/*"]

# Make a rust library, as well as static and C-compatible dynamic libraries
# available as "libmwalib.a" and "libmwalib.so".
[lib]
crate-type = ["rlib", "staticlib", "cdylib"]

[features]
# Compile cfitsio from source and link it statically.
cfitsio-static = ["fitsio-sys/fitsio-src"]
# Enable optional features needed by examples.
examples = ["anyhow", "clap", "env_logger"]
# Enable python
python = ["pyo3", "numpy", "ndarray"]

[dependencies]
chrono = "0.4.1"
fitsio = "0.20.0"
fitsio-sys = "0.4.0"
lazy_static = "1.4.0"
libc = "0.2.69"
log = "0.4.0"
num-derive = "0.3.0"
num-traits = "0.2.0"
rayon = "1.3.0"
regex = "1.3.0"
thiserror = "1.0.3"

# "python" feature.
pyo3 = { version = "0.19.2", features = ["chrono", "extension-module"], optional = true }
numpy = { version = "0.19.0", optional = true }
ndarray = { version = "0.15.6", optional = true }

# "examples" feature.
anyhow = { version = "1.0.0", optional = true }
clap = { version = "3.0.0", features = ["derive"], optional = true }
env_logger = { version = "0.9.0", optional = true }

[dev-dependencies]
csv = "1.2.*"
float-cmp = "0.9.*"
tempdir = "0.3.*"

[build-dependencies]
built = "0.6.*"
cbindgen = { version = "0.24.*", default_features = false }

[[example]]
name = "mwalib-data-dump"
required-features = ["examples"]

[[example]]
name = "mwalib-print-corr-context"
required-features = ["examples"]

[[example]]
name = "mwalib-print-volt-context"
required-features = ["examples"]

[[example]]
name = "mwalib-sum-gpubox-hdus"
required-features = ["examples"]

[[example]]
name = "mwalib-sum-first-fine-channel-gpubox-hdus"
required-features = ["examples"]
