name: Cross-platform tests
permissions:
  contents: read

on:
  push:
    tags-ignore:
      - "**"
    branches:
      - "**"

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  test:
    name: Test ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # see https://github.com/actions/runner-images?tab=readme-ov-file#available-images for runner types
        os: [
            ubuntu-latest,
            ubuntu-24.04-arm,
            ubuntu-22.04,
            macos-14,
            macos-15,
            macos-15-intel,
          ] # macos-14 & 15 are Arm64
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: (macos) install automake and autoconf
        if: ${{ startsWith(matrix.os, 'macOS') }}
        run: |
          brew install automake autoconf

      - name: Install stable minimal toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable

      - name: Run tests on latest stable rust
        run: cargo test --features cfitsio-static,examples

      - name: Minimum-specified Rust version works
        run: |
          MIN_RUST=$(grep -m1 "rust-version" Cargo.toml | sed 's|.*\"\(.*\)\"|\1|')
          ~/.cargo/bin/rustup install $MIN_RUST --profile minimal          
          cargo +${MIN_RUST} test --features cfitsio-static,examples
